.container-loading {
  position: absolute;
  z-index: 1000;
  margin-right: 170px;
  margin-bottom: 50px;
}

.spinner {
  margin:20px auto 20px auto;
  position:relative;
  animation: spin .5s infinite linear;
  animation-direction: alternate-reverse;
  height: 75px;
  width: 75px;
  background:  url(http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Hammer_-_Noun_project_1306.svg/1088px-Hammer_-_Noun_project_1306.svg.png); 
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes spin {
    from {transform:rotate(-10deg);}
    to {transform:rotate(20deg);}
}