.cookie.closed {
  width: 12rem;
  cursor: pointer;
}

.cookie.open {
  width: 15rem;
  cursor: default;
}

.cookie.visible {
  opacity: 1;
  display: block;
}

.cookie.hidden {
  opacity: 0;
  display: none;
}

.loading {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translate(0, 0) }
  20% { transform: translate(-2px, -2px) }
  40% { transform: translate(2px, 0) rotate(-2deg) }
  60% { transform: translate(-2px, 2px) }
  80% { transform: translate(2px, 0) rotate(2deg) }
  100% { transform: translate(0, 0) }
}